# ðŸ“š Recommendations based on average ratings
You will create your first recommendations using average ratings. This method highlights books with high reader ratings, combining popularity with quality. You'll calculate each book's average rating and choose the top-rated ones for your recommendations.

### 1. Calculate the average ratings
Calculate the average ratings and the number of reviews (count) for the books in your new dataset(s).

In [13]:
import pandas as pd
df = pd.read_csv('data/BX-Book-Ratings-Subset.csv', sep=';', encoding='latin-1')
df = df.groupby('ISBN')['Book-Rating'].agg(['count', 'mean']).reset_index()
df = df.sort_values(by="mean", ascending=False)
df

            ISBN  count       mean
2157  3404118960      3  10.000000
930   0439425220     17   9.823529
25    0060256656     15   9.800000
1628  0618002235     18   9.777778
2162  3426029553      3   9.666667
...          ...    ...        ...
778   039914739X     10   5.200000
920   0432534220      1   5.000000
268   0312288115     10   4.400000
2077  0971880107    137   3.897810
2173  8495618605      1   3.000000

[2177 rows x 3 columns]

### 2. Save the recommendations
Choose the top 10 based on ratings and save them as `recommendations-ratings-avg.csv`, replacing the existing file in the app directory. Ensure the file includes the columns: `ISBN;mean`. After you have saved it you can refresh Streamlit to see the results

In [12]:
df = df.head(10)
df.to_csv('app/recommendations/recommendations-ratings-avg.csv', index=False, sep=';')

### 3. Reflect on the recommendations
Examine the average rating and number of reviews for the top 10 books. Reflect on why solely using average ratings isn't the best method for recommendations.